.card-body {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.genre-link {
    height: 200px;
    width: 50px;
    background-color: black;
    margin-top: 8px;
}

.film-card {
    margin: 10px;
}
