.marquee-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    height: 500px;
}

.marquee-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px #000;
}

    .card h1 {
        margin: 0;
        font-size: 2rem;
    }

    .card h4 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .card button {
        margin-top: 20px;
    }
