@inject IMembershipService MembershipService

@page "/Play/{Id:int}"

<a href="@("/")" class="btn btn-primary">
    <span class="oi oi-arrow-left me-2"></span>
    Back to Dashboard
</a>

<div class="d-flex flex-column">
    <div class="card flex-fill rounded-0">
        @if (Model.FilmUrl != null)
        {
            <div class="video-player">
                <iframe src="@Model.FilmUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="100%" height="500"></iframe>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    public FilmDTO Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await MembershipService.GetFilmAsync(Id);
    }
}
